<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Make a new custom room </h4>
    <form action="/create" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" id="NewRoom" name="NewRoom" autofocus>
            
        </div>
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</body>
</html>